@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --animate-duration: 100ms;
  --animate-delay: 0s;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

@-webkit-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.loading-box {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.loading-box::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
}

.loading-box::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}

.animate_width_down {
  animation: animate_width_down .2s linear 0s 1;
}


/* ================================
   NPROGRESS OVERRIDES (GLOBAL)
================================ */
#nprogress {
  pointer-events: none;
  height: min-content;
}

#nprogress .bar {
  background: #2b7fff !important;
  height: 4px !important;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 80 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #2b7fff, 0 0 5px #2b7fff;
}

#nprogress .spinner {
  display: none !important;
}

/* Loading blinking layer */
.loading-layer {
  animation: blink 1.6s ease-in-out infinite;
  will-change: opacity;
}

@keyframes blink {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}



@keyframes animate_width_down {
  0% {
    height: 0;
  }

  100% {
    height: 100;
  }
}